[submodule "third_party/musl"]
	path = third_party/musl
	url = git://git.musl-libc.org/musl
[submodule "third_party/toybox"]
	path = third_party/toybox
	url = https://github.com/landley/toybox
[submodule "third_party/x11/xorgproto"]
	path = third_party/x11/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
[submodule "third_party/x11/libxkbfile"]
	path = third_party/x11/libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile.git
[submodule "third_party/x11/pixman"]
	path = third_party/x11/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git

[submodule "third_party/x11/libXau"]
	path = third_party/x11/libXau
	url = https://gitlab.freedesktop.org/xorg/lib/libXau.git
[submodule "third_party/x11/libXdmcp"]
	path = third_party/x11/libXdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libXdmcp.git
[submodule "third_party/x11/xcbproto"]
	path = third_party/x11/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto.git
[submodule "third_party/x11/libxcb"]
	path = third_party/x11/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb.git
[submodule "third_party/x11/libX11"]
	path = third_party/x11/libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libX11.git
[submodule "third_party/x11/xkeyboard-config"]
	path = third_party/x11/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "third_party/x11/libXrender"]
	path = third_party/x11/libXrender
	url = https://gitlab.freedesktop.org/xorg/lib/libXrender.git
[submodule "third_party/x11/libXcursor"]
	path = third_party/x11/libXcursor
	url = https://gitlab.freedesktop.org/xorg/lib/libXcursor.git
[submodule "third_party/x11/libXfixes"]
	path = third_party/x11/libXfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libXfixes.git
[submodule "third_party/x11/libXcomposite"]
	path = third_party/x11/libXcomposite
	url = https://gitlab.freedesktop.org/xorg/lib/libXcomposite.git
